.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  position: relative;
}
.nav.navbar-nav a {
  font-size: 17px;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
}
